@charset "UTF-8";
.nav-link a:link { /* orginal link */
	color:aqua !important;
}
.nav-link a:visited { /* the color after pressed */
	color: purple !important;
}
nav li a:hover { /*the colour you passed by */
	color:aqua!important;
}
nav li a:active { /* pressing the color */
	color: #F00 !important;
}

.navbar-nav {
	background-color:bisque;
	font-size: 15px;
	font-style: italic;
}
.nav-link {
	color: black!important;
}
.navbar {
	background-color: bisque;
}
h4 {
	text-align: center;
	color: lightblue;
}





body {
	background-color: lightyellow;
	font-size:20px !important;
	color:black!important;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"!important;
}
.introductionstyle {
	padding-bottom: 15px;
	padding-top: 15px;
}
iframe {
	text-align: center !important;
	max-height: 100%;
	max-width: 100%;
}
.videosbelow {
	text-align: center;
	text-decoration-style: solid;
}
